@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.black {
  width: 50px;
  height: 50px;
  background: #000;
}
.white {
  width: 50px;
  height: 50px;
  background: #fff;
}

.board-row-flex {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  border: 20px solid black;
  position: relative;
  top: 100px;
}
